
.auth-parent{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-parent h1{
    font-size: 70px;
    font-weight: bold;
}
.auth-parent form{
    width: 500px;
    box-shadow: 0 0 5px gray;
    padding: 20px;
    font-size: 20px;
     
    
}